ProgramareC#/lucrarea4/CLIENT/Connected Services/ServiceReference1/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="convr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="a" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="convrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="convrResult" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="data_ora">
        <s:complexType />
      </s:element>
      <s:element name="data_oraResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="data_oraResult" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="lei_euro">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="x" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="lei_euroResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="lei_euroResult" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="lista">
        <s:complexType />
      </s:element>
      <s:element name="listaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="listaResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="convrSoapIn">
    <wsdl:part name="parameters" element="tns:convr" />
  </wsdl:message>
  <wsdl:message name="convrSoapOut">
    <wsdl:part name="parameters" element="tns:convrResponse" />
  </wsdl:message>
  <wsdl:message name="data_oraSoapIn">
    <wsdl:part name="parameters" element="tns:data_ora" />
  </wsdl:message>
  <wsdl:message name="data_oraSoapOut">
    <wsdl:part name="parameters" element="tns:data_oraResponse" />
  </wsdl:message>
  <wsdl:message name="lei_euroSoapIn">
    <wsdl:part name="parameters" element="tns:lei_euro" />
  </wsdl:message>
  <wsdl:message name="lei_euroSoapOut">
    <wsdl:part name="parameters" element="tns:lei_euroResponse" />
  </wsdl:message>
  <wsdl:message name="listaSoapIn">
    <wsdl:part name="parameters" element="tns:lista" />
  </wsdl:message>
  <wsdl:message name="listaSoapOut">
    <wsdl:part name="parameters" element="tns:listaResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="convr">
      <wsdl:input message="tns:convrSoapIn" />
      <wsdl:output message="tns:convrSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="data_ora">
      <wsdl:input message="tns:data_oraSoapIn" />
      <wsdl:output message="tns:data_oraSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="lei_euro">
      <wsdl:input message="tns:lei_euroSoapIn" />
      <wsdl:output message="tns:lei_euroSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="lista">
      <wsdl:input message="tns:listaSoapIn" />
      <wsdl:output message="tns:listaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="convr">
      <soap:operation soapAction="http://tempuri.org/convr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="data_ora">
      <soap:operation soapAction="http://tempuri.org/data_ora" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="lei_euro">
      <soap:operation soapAction="http://tempuri.org/lei_euro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="lista">
      <soap:operation soapAction="http://tempuri.org/lista" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="convr">
      <soap12:operation soapAction="http://tempuri.org/convr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="data_ora">
      <soap12:operation soapAction="http://tempuri.org/data_ora" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="lei_euro">
      <soap12:operation soapAction="http://tempuri.org/lei_euro" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="lista">
      <soap12:operation soapAction="http://tempuri.org/lista" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="https://localhost:44347/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="https://localhost:44347/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>